@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --btn-background: #7F95D1;
  --card-background: #F4F4F4;
  --primary-color: #040403;
  --secondary-color:#CBE896;
  --heading-color: #16302B;
}

body{
  background-color: var(--background);
  font-family: 'Poppins', sans-serif;
}

.hero-bg {
  position: relative;
  background-image: url("/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 40px 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* 45% black overlay */
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero-content h2{
  color: #FFF648
}

.hero-content .bookingBtn{
  background-color: var(--btn-background);
}

.about{
  color:var(--heading-color)
}